{deps, [
  {cowlib,".*",{git,"https://github.com/chicagoboss-with-deps/cowlib", {tag, "2.7.0"}}},
  {ranch,".*",{git,"https://github.com/chicagoboss-with-deps/ranch", {tag, "1.7.1"}}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,warn_missing_spec,warn_untyped_record]}.
